<launch>
  <arg name="common_config" default="$(find png_planner)/config/rp_common.yaml" />

  <node pkg="png_planner" type="rp_z_only_pitch_yaw_test" name="rp_z_only_pitch_yaw_test" output="screen">
    <rosparam command="load" file="$(arg common_config)" />
    <param name="enable_height_control" value="true" />
    <param name="gimbal_enable" value="true" />
    <param name="reset_gimbal_on_target_loss" value="true" />
    <param name="enable_gimbal_pitch_cmd_generation" value="true" />
  </node>
</launch>
